
html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.dng {
  background: #f7dcdf;
  color: #721C24;
}
.alert {
  background: #fff3cd;
  color: #856404;
}
.ok {
  background: #d4edda;
  color: #155724;
}

.input-24 {
  height: 24px;
  border: 1px solid #9098AF;
  box-sizing: border-box;
  border-radius: 4px;

}

.input-round {
  border: none;
  width: 330px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  color: #597CC7;
  text-align: center;
  font-size: 18px;
  position: relative;
  
  transition-duration: 0.4s;
}

.input-round:focus {
  outline: none;
  height: 60px;
  
  border-radius: 30px;
  border: none;
  
  transform: translateY(-6px); 

}

.btn-round {
  width: 330px;
  height: 48px;
  outline: none;
  background: hsl(120, 71%, 93%);
  border: 2px solid #6E7A6E;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  border: none;
  color: #6E7A6E;
  text-align: center;
  font-size: 18px;
  transition-duration: 0.2s;
}

.btn-round:hover {

  background: hsv(120, 71%, 88%);

}
